<form action="/ingredients" method="post">
  <label for="ingredient[name]">Name</label>
  <input type="text" name="ingredient[name]" />
  <button class='btn btn-default' type="submit">Create New Ingredient</button>
</form>
